body{
  background-color:black;
}

h1{
  color:white;
  text-align: center;
}

.bandera{
  display:block;
  height: 20vh;
  }

  .amarillo{
    background-color: #F3F781;
    color: #000000;
  }

  .gris{
    background-color: grey;
    color: white;
  }

  #mayusculas{
      text-transform: uppercase;
    }
